{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <main class="container">
    <section class="index-content">

            <h2 class="index-content-title">Blog</h2>

            {% for category in categories %}
                <h2>{{ category.title }}</h2>
                <ul class="news-preview">
                    {% for post in category.posts %}
                        <li>
                            <a href="{{ path('article', {'articleId' : post.id}) }}">{{ post.title }}</a>
                        </li>
                    {% endfor %}

                </ul>
            {% endfor %}



    </section>
    </main>
{% endblock %}
