{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <main class="container">
    <section class="index-content">

            <h2 class="index-content-title">TAGS</h2>


        {% for tag in tags %}
            <h2>

                <a href="{{ path('tags', {'tagId' : tag.id}) }}">{{ tag.title }}</a>
            </h2>


        {% endfor %}



    </section>
    </main>
{% endblock %}
