{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <main class="container">
    <section class="index-content">
        <div class="index-content-left">
            <h2 class="index-content-title">Новости</h2>
            <ul class="news-preview">

                <li>

                    <p>{{ currentRoute.title }} </p>
                    <p>{{ currentRoute.content }}</p>

                </li>

            </ul>
            <a href="" class="btn">Все новости</a>
        </div>
        <div class="index-content-right">
            <h2 class="index-content-title">фотогалерея</h2>
            <div class="gallery">
                <div class="gallery-content">
                    <img src="../img/gallery.jpg" alt="gallery">
                </div>
                <button class="btn gallery-prev" disabled="disabled">назад</button>
                <button class="btn gallery-next">вперед</button>
            </div>
        </div>
    </section>
    </main>
{% endblock %}
